/*
Contact Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
All the style elements use form id selector(notice the #contactus). So, including this
stylesheet does not affect the other elements at all!
*/

.form-group {
  margin-bottom: 10px;
}

#contactus fieldset
{
   width:320px;
   padding:20px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}

#contactus label
{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size:0.8em;
   font-weight: bold;
}

#contactus input[type="text"],textarea
{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

#contactus input[type="text"]
{
  height:35px;
  width:300px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;    
}

.custom-select {
    position: relative;
    display: inline-block;

}

#contactus .custom-select:after{
    content: "▼";
    position: absolute;
    top: 20px;
    right: 0px;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    pointer-events: none;
}
#contactus select
{
  height:35px;
  width:300px;
  padding: 6px 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.8em;
  background-color: #ffffff;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color: #fffff;
}

#contactus #scaptcha
{
  width:60px;
  height:18px;
}
  

#contactus input[type="submit"]
{
   width:100px;
   height:35px;
   background-color:#3F3F76; 
   color: #FFFFFF;
   padding-left:0px;
   
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;   
}

#contactus textarea
{
  height:120px;
  width:300px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   border-radius: 8px;  
}

.alert-success 
{	
	color: rgb(64, 90, 72);;
}
input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

#contactus input[type="text"]:focus, select:focus, textarea:focus
{
  color : #009;
  border : 1px solid rgb(76, 180, 76);
  -webkit-box-shadow: 0 0 0 1000px white inset;
  background-color : rgb(76, 180, 76);
}

#contactus
{
   margin-top:8px;
   margin-bottom: 10px;
}

#contactus .error
{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 0.7em;
   color: #900;
   font-weight: 800;
}

#contactus fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#contactus fieldset#antispam legend
{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#contactus .short_explanation
{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 0.9em;
   color:#333; 
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#contactus .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_crdiv
{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_crdiv p
{
    display:none;
}