*, *:before, *:after {
	box-sizing: border-box;
}
hmtl, body, div, span {
	margin: 0;
	padding: 0;
	border; 0;
}
body {
	background-color:#dddddd !important;
	overflow: scroll;
}
h1, h2, h3, h4 {
	font-weight: 500;
	color: #3F3F76 !important;
}

#content a, a:visited {
  text-decoration: none;
  color: rgb(76, 180, 76);
  font-weight: 500;
}

.section a:hover, #footer a:hover {
	color: rgb(64, 90, 72) !important;
	text-decoration: none;
}



#main-page {
	text-align: center;
}
#nav_header {
	background-color: #404076;	
	height:74px !important;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 15px;
	padding-bottom: 10px;	
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1040px;
	min-width: 350px;
}
#content {
	/*width: 1000px;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
  	border-radius: 5px;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.15);	
  	font-weight: 400;
  	padding-bottom: 30px;
}

.co*, *:before, *:after {
	box-sizing: border-box;
}

.container_lg {
	max-width: 1024px;
	width:800px;
	margin: auto auto;
}

.center-slider {
	width: 80%;
	margin: 0 auto;
}
#footer .container {
  margin-top: 10;
}

#footer p{
	font-size: 12px;
}
	
#logo img {
	height: 65px;
	position: relative;
	top: -4px;
	
}


.square {
	width: 56px;
	height: 56px;
	position: relative;
	top: 9px;
	background:#dddddd;
}

.circle {
	border-radius: 50%;
	width: 56px;
	height: 56px; 
	background:#dddddd;
	position: relative;
	top: 9px;
	/* width and height can be anything, as long as they're equal */
}

.circle:hover, .circle.active {
	background: rgb(243, 247, 243);
}

.main_img {
	height: 200px;
	width: 500px;
}	
#nav li a:hover {
		opacity: 1; 
}
		
#nav li a.active {
		opacity: 1; 
		color: rgb(243, 247, 243);
		border-bottom-color: #a5a5a5;
}
.social-media a {
	text-decoration: none;
}

#nav {
		width: 100%;
		padding: 0;
		list-style: none;
	}	
#nav li {
	/*padding: 9px 9px 10px;*/
	list-style-type: none;
	background-color: #404076;
}

#nav li a {
	font-size: 15px;
    font-weight: 300;
    color: red;
    padding: 4px 0;
    display: block;
    line-height: 16px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
	opacity: .6;
	}
@media (min-width: 600px){

	#nav {
		width: 100%;
		margin: -45px 27px 3em 30px;
		padding: 0;
		list-style: none;
		display: block !important;
	}
	
	#nav li {
		float: left; 
		vertical-align: middle;
		padding: 9px 9px 10px;
	}

	#nav li a {
		display: block;
		border-bottom: 2px solid transparent;
  		font-weight: 700;
  		padding: 0.0em 0.25em 0.25em 0.25em;
 		white-space: nowrap;;
		text-decoration: none;
		font-weight: bold;
		color: #fff;
		opacity: .6;
	}
	#footer .social-media {
	  display: none;
  
	}
	#nav_header .social-media {
	  float: right;
	  position: relative;
	  top: -34px;
  
	}
	
	.menu {
		display: none !important;
	}
}
.social-media .fa{
	margin-left: 10px;
	color: #ffffff;
	opacity: .6;
}

#footer .social-media .fa
{
	margin-left: 0;
	margin-right: 5px;
	color: #3B3B6F;
}

.social-media .fa:hover{
	opacity: 1;
}

div.section {
	width:50%;
	text-align: left;
}
	
#nav li a.active {
		opacity: 1; 
		color: rgb(243, 247, 243);
		border-bottom-color: #a5a5a5;
}

.menu
{
	float: right;
	position: relative;
	top: 20px;
}
 .menu-button .fa {
	color:  #FFFFFF;
	opacity: .6;
}

.menu-button .fa:hover, .menu-button.active .fa {
	opacity: 1;
}

.menu-button.actice .fa {
	opacity: 1;
}
.menu button {
	background-color:#3B3B6F;
	border: 0;
}

@media (max-width: 601px){
	#nav_header .social-media {
		display: none;
	}
	
	#footer .social-media {
	  float: left;
	  position: relative;
  
	}
	#nav{
		display: none;
		position: relative;
		left: 40px;
		top: 20px;
	}
}